<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620368151517-9m1lbovkgm056ck5o1rvjkk7m6krro03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620368151517-9m1lbovkgm056ck5o1rvjkk7m6krro03</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>620368151517-ku976kbc3ambn1e04o63qi6elcjmriku.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5vUrFMFwIcYivvzOJ8iIMtqIFZWlL5Qs</string>
	<key>GCM_SENDER_ID</key>
	<string>620368151517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aerion.chefsjournal</string>
	<key>PROJECT_ID</key>
	<string>chef-s-journal-6a0fd</string>
	<key>STORAGE_BUCKET</key>
	<string>chef-s-journal-6a0fd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620368151517:ios:19a7b5a319e8b3d08f2c34</string>
</dict>
</plist>